{% extends "userprofile/base.html" %}

{% load i18n bootstrap3 %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="active">{% trans 'Change Password' %}</li>
{% endblock breadcrumb %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
        <div class="col-md-4 col-md-offset-4">

            <h1 class="text-center">{% trans "Change Password" %}</h1>

            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-info btn-block" name="action">{% trans "Change Password" %}</button>
            </form>
        </div>
{% endblock %}
