*.py[cod]
.idea
.directory
!.buildpacks
!.coveragerc
!.gitignore
!.travis*
*.log
*.pot
node_modelus/
*\.egg*

/node_modules/
/media/__sized__
__sized__/*

node_modules
**/*.orig

server/**/*.py
nginx
dashboard_web_client/js

/dashboard_web_client/package.json
/dashboard_web_client/makefile
/dashboard_web_client/webpack.config.js
/dashboard_web_client/run.sh

server/manage.pyc
