<div class="btn-group dropdown-money">
    <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown">
        <span class="hide-for-xs">ARS Pesos</span><span class="hide-for-lg">$</span>
    </button>
    <ul class="dropdown-menu pull-right" role="menu">
        <li><a href="#"><span class="hide-for-xs">Real</span><span class="hide-for-lg">&euro;</span></a></li>
        <li><a href="#"><span class="hide-for-xs">Dolar</span><span class="hide-for-lg">&euro;</span></a></li>
    </ul>
</div> <!--End .btn-group-->