<div class="btn-group dropdown-language">
    <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown">
        <span class="flag-container"><img src="/static/image/flag_arg.png" alt="flag of england"></span>
        <span class="hide-for-xs">Español</span>
    </button>
    <ul class="dropdown-menu pull-right" role="menu">
        <li><a href="#"><span class="flag-container"><img src="/static/image/flag_brasil.png" alt="flag of brasil"></span><span class="hide-for-xs">Portugues</span></a></li>
        <li><a href="#"><span class="flag-container"><img src="/static/image/flag_inglaterra.png" alt="flag of england"></span><span class="hide-for-xs">English</span></a></li>
    </ul>
</div> <!--End .btn-group -->