{% load i18n %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
<header id="header" class="header7">
    <div id="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- <div class="header-top-left">
                        <ul id="top-links" class="clearfix">
                            {% include '_top_menu.html' %}
                        </ul>
                    </div> --> <!-- End .header-top-left -->
                    <div class="header-top-right">
                        <div class="header-text-container pull-right">
                            {% if user.is_authenticated %}
                                <p class="header-text">{% trans '¡Bienvenido' %} {{ user }}!</p>
                                <ul id="top-links" class="clearfix">
		                            {% include '_top_menu.html' %}
		                        </ul>
                                <p class="header-link"><a href="{% url "account_logout" %}">{% trans "Log out" %}</a></p>
                            {% else %}
                                <p class="header-text">Welcome to Commerce!</p>
                                <p class="header-link"><a href="{% url "account_login" %}">{% trans "Log in" %}</a>&nbsp;o&nbsp;<a href="{% url 'account_signup' %}">{% trans "Register" %}</a></p>
                            {% endif %}
                        </div><!-- End .pull-right -->
                    </div><!-- End .header-top-right -->
                </div><!-- End .col-md-12 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End #header-top -->

    <div id="inner-header">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12 logo-container">
                    <h1 class="logo clearfix">
                        <span>{{ custom_site.display_name }}</span>
                        <a href="/" title="{{ custom_site.display_name }}"><img src="{{ custom_site.logo }}" alt="{{ custom_site.name }}" width="132" height="50"></a>
                    </h1>
                </div><!-- End .col-md-3 -->
                <div class="col-md-6 col-sm-6 col-xs-12 header-inner-right">
                	<div id="quick-access">
                        {% include '_search.html' %}
                    </div><!-- End #quick-access -->
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 header-inner-right">
                    <div class="header-inner-right-wrapper clearfix">

                        <div class="dropdown-cart-menu-container pull-right">
                            {% include '_dropdown_cart.html' %}
                        </div><!-- End .dropdown-cart-menu-container -->

                    </div><!-- End .header-inner-right-wrapper -->
                </div><!-- End .col-md-7 -->
            </div><!-- End .row -->
        </div><!-- End .container -->

    </div><!-- End #inner-header -->
</header><!-- End #header -->













