{% load staticfiles %}
{% load i18n %}
{% load favit_tags %}
{% load rating_tags %}
{% load thumbnail %}



{% block footer_scripts %}
    <script>
        $(document).ready(function() {
            var  latestItems = $('.{{ featured_product_title|slugify }}-slider.owl-carousel');
            latestItems.owlCarousel({
                items: 4,
                itemsDesktop : [1199,4],
                itemsDesktopSmall: [979,3],
                itemsTablet: [768,2],
                itemsMobile : [479,1],
                slideSpeed: 400,
                autoPlay: 8000,
                stopOnHover: true,
                lazyLoad : true,
                navigation : false,
                pagination: false,
                responsive: true,
                mouseDrag: true,
                autoHeight : true
            }).data('navigationBtns', ['#{{ featured_product_title|slugify }}-slider-prev', '#{{ featured_product_title|slugify }}-slider-next']);
        });
    </script>
{% endblock %}
